figure{
background: #b5b59b;
    padding: 10px;
    display: block;
    width: 769px;
    height: 180px;
    float: left;
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    border-radius: 5px;
}
img{
float: left;
   
}

.over{
    margin: 20px;
}



                                    
/*
.artur{
    width: 800px;
    height: 260px;
    margin: 5px;
    text-align: left;
    clear: both;'
}

.artur img{
    float: left;
}